@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  margin: 0;
}

.site {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-columns: minmax(400px, 1fr);
  grid-template-rows: auto;
  flex-wrap: wrap;
  overflow-x:hidden;
  margin: 0 20%;
  padding-bottom: 2em;
}

.enclosure {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 25px 0;
  width: 100%;
}

#drop_zone {
  font-size: 24px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: #bbb;
}

#drop_zone.drag-over-effect {
  border: 2px dashed teal;
  color: teal;
  font-weight: bold;
}
  

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  height: 4em;
  padding: 24px;
  font-size: 10px;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .main {
    margin: 0 10%;
  }
}
